<%if obj.errors.any? %>
  <div class='alert alert-danger' role='alert'>
    <h4 class="alert-heading">
      <%=pluralize(obj.errors.count,"error")%>
      prohibited the poll from being saved:
    </h4>
    <p><ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%=msg%></li>
    <%end%>
  </ul></p>
  </div>
<%end%>