<% obj.each do | poll | %>
  <p>
  <div class="row justify-content-md-center">
    <div class="card bg-light w-50">
      <h4 class="card-header titles"><%= link_to "#{poll.title}",
                                                 poll_path(poll)%></h4>
      <div class="card-body">

      </div>
    </div>
  </div>
  </p>
<% end %>